body {
    min-width: 1200px;
}

.main-page__title {
    margin: 0 auto;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.weather-info {
  display: flex;
}

.main-info {
  margin: 0 auto;
  font-size: 20px;
}
